*{
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background: #6C96DA;
}

.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #3066be;
}

.header__logo__titulo{
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.header__logo__titulo > img{
  width: 10%;
  border-radius: 50%;
}

.header__logo__titulo > p{
  font-size: 2em;
  font-weight: 700;
}

.header__carrito__icono > p{
font-size: 3rem;
}

.contenedor__main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  
}

.contenedor__main__banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../img/Lesiones\ en\ el\ básquet.webp");
  background-size: cover;
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor__main__banner > h1{
  font-size: 3rem;
  color: #fff;
  text-shadow: 0px 5px rgb(0,0,0,0.5);
}

.contenedor__main__banner > p{
  font-size: 1.5rem;
  color: rgb(202, 199, 199);
}

.contenedor__main__productos{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  background: #497ccf;
  margin: 2rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  
}

.card__contenido{
  display: flex;
  flex-direction: column;
  gap: .5rem;
align-items: center;
background: #fff;
padding: 1rem;
border-radius: 5px;
width: 300px;
}

.card__contenido > img{
  width: 200px;
  height: 200px;
}

.btn__comprar{
  width: 50%;
  padding: .5rem;
  color: #fff;
  background:#3066be;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  text-transform:uppercase;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.btn__comprar:hover{
  background:#184fa8;
  
}


.modal__container{
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.modal__contenedor__titulo{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.modal__contenedor__contenido__carrito{
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.modal__contenedor__contenido__carrito > img{
  width: 200px;
  height: 200px;

}

